<!-- <h1>Watchale</h1> -->
<!-- 
<md-button href="#!/register" name="md-Register">Become a Member</md-button> -->

<div id="background">
    <!-- <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
        <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center">
            <md-card ng-cloak>
                <md-card-actions layout="row" layout-align="center">

                </md-card-actions>
                <md-card-content>
                    <div class="blah">
                        <h1>Watchale</h1>
                    </div>
                </md-card-content>
                <img ng-src="assets/pics/not-one-more.png" class="md-not-one-more" alt="Inspiracion">
            </md-card>
            </md-grid-tile>
    </md-content> -->

    <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/0lNJviuYUEQ?ecver=1" frameborder="0"
        allowfullscreen></iframe>
    <md-button class="memberLogin" href="#!/login" name="md-Login">Member Login</md-button>
    <md-button class="adminLogin" href="#!/login" name="md-Login">Admin Login</md-button>
    </div>