<body ng-controller="LoginController as lc" ng-cloak>
  <div class='md-padding' layout="column" layout-align="center" layout-wrap>
    <h1 class="signInView">Sign In Page</h1>

    <!-- Shown for users that are NOT logged in -->
    <section ng-hide="auth.loggedIn" layout-align="center center">
      <!-- I got this button image from Googles sign-in button brand guidelines page -->
      <!-- <a  href="/auth/google">
        <img src="/assets/btn_google_signin_dark_normal_web.png" />
      </a> -->

    </section>
    <img src="/assets/pics/ice-raid.png" >
  </div>