<div ng-controller="NavController as nav" class="ng-scope layout-row" ng-cloak>

    <md-content>
        <md-nav-bar md-selected-nav-item="nav.currentNavItem" nav-bar-aria-label="navigation links">

            <md-nav-item md-nav-href="#!/" name="/">
                <md-icon md-svg-src="assets/pics/ic_home_48px.svg"></md-icon> Home</md-nav-item>

            <md-nav-item ng-hide="!nav.adminObject" md-nav-href="#!/sightings" name="/sightings">
                <md-icon md-svg-src="assets/pics/ic_whatshot_48px.svg"></md-icon> Sightings</md-nav-item>
            <md-nav-item ng-hide="!nav.adminObject.admin" md-nav-href="#!/report" name="/report">
                <md-icon md-svg-src="assets/pics/ic_warning_48px.svg"></md-icon> Report Sightings</md-nav-item>

            <!-- will only show if the logged user is an admin -->
            <md-nav-item ng-hide="!nav.adminObject.admin" md-nav-href="#!/update" name="/update">
                <md-icon md-svg-src="assets/pics/ic_system_update_alt_48px.svg"></md-icon> Update/Delete Sightings</md-nav-item>

            <div class="logout" ng-show="nav.displayLogout">Hi {{nav.username}}! |
                <a href="#" ng-click="nav.logout()">Logout</a>
            </div>
        </md-nav-bar>
    </md-content>
</div>

<!-- <mat-tab-group>
    <mat-tab ng-hide="!nav.adminObject" md-nav-href="#!/sightings" name="/sightings">All Sightings</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group> -->