
<div class="container" layout="column" layout-align="start center" flex="33" ng-controller="NavController as nav" class="ng-scope layout-row" ng-cloak>

    <md-content>
        <md-nav-bar md-selected-nav-item="nav.currentNavItem" nav-bar-aria-label="navigation links">

            <md-nav-item md-nav-href="#!/" name="/">
                <md-icon md-svg-src="assets/pics/ic_home_48px.svg"></md-icon> Home</md-nav-item>

            <!-- ng-hide="!nav.displayLogout" gates ppl who have not signed in (hides sightings & report views)-->
            <md-nav-item class="md-icon-button" aria-label="Sightings" ng-hide="!nav.displayLogout" md-nav-href="#!/sightings" name="/sightings">
                <md-icon md-svg-src="assets/pics/ic_whatshot_48px.svg"></md-icon> Sightings</md-nav-item>
            <md-nav-item ng-hide="!nav.displayLogout" md-nav-href="#!/report" name="/report">
                <md-icon md-svg-src="assets/pics/ic_warning_48px.svg"></md-icon> Report Sighting</md-nav-item>

            <!-- will only show if the logged user is an admin -->
            <md-nav-item ng-hide="!nav.adminObject.admin" md-nav-href="#!/update" name="/update">
                <md-icon md-svg-src="assets/pics/ic_system_update_alt_48px.svg"></md-icon> Update/Delete Sightings</md-nav-item>

        </md-nav-bar>
    </md-content>
</div>

<!-- <mat-tab-group>
    <mat-tab ng-hide="!nav.adminObject" md-nav-href="#!/sightings" name="/sightings">All Sightings</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group> -->