<body ng-controller="RegisterController as rc" ng-cloak>
    <form ng-submit ="rc.submit()">
        <input type="text" ng-model="rc.user.name" placeholder="Enter Your Name">
        <input type="email" ng-model="rc.user.email" placeholder="Email">
        <input type="text" ng-model="rc.user.phone" placeholder="Phone Number">
        <input type="text" ng-model="rc.user.address" placeholder="Mailing Address" >
        <input type="submit" value="Submit">
    </form>

   
</body>








<!-- 

<h2>Registration Page</h2>

<section ng-hide="auth.loggedIn">
   
    <a href="/auth/google">
        <img src="/public/assets/btn_google_signin_dark_normal_web.png" />
    </a>
</section>

<section ng-show="auth.loggedIn">
    <p>
        You are logged in!
    </p>
</section> -->