<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:500');
</style>
<div ng-controller="ReportController as pc" layout="column" ng-cloak class="md-inline-form">
    <div class="ng-scope layout-row" layout="row" class="logout" layout-align="end start" ng-controller="NavController as nav"
        ng-controller="LandingController as dc">
        <div ng-show="nav.displayLogout">
            <md-button class="md-accent" href="#" name="md-signout" ng-click="nav.logout()">
                <md-icon md-svg-src="assets/pics/ic_face_48px.svg"></md-icon> Hi, {{nav.username}}! | Sign Out
            </md-button>
        </div>
    </div>
   
    <h1 class="reportSight"> <mark><strong> Report a Sighting </strong></mark></h1>

    <md-content class="md-padding" layout="row" layout-align="center" layout-wrap flex>
        <div>
            <form class="userForm">

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="pc.description" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm>
                        <label>Date</label>
                            <md-datepicker ng-model="pc.date" rows="1"></md-datepicker type="date" name="date">
                    </md-input-container>
                </div>
            
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm>
                        <label>Time</label>
                        <input type="time" ng-model="pc.time" name="time" value="" rows="1">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Closest Zip Code</label>
                            <input name="postalCode" ng-model="pc.location" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                                </div>
                    </md-input-container>
                </div>

                <div>
                    
                    <md-button href="/#!/sightings" ng-click="pc.addReport()" type="submit" name="submitButton" class="md-accent" flex >Add Sighting</md-button>

                </div>
            </form>
        </div>
    </md-content>

</div>