<body ng-controller="ReportController as pc" ng-cloak>

    <div class="container">
        <h1 class="lead">Report a Sighting</h1>
        <form ng-submit="rc.submit()">

            <div>
                <label for="incident">Description of Incident:</label>
                <input type="text" ng-model="pc.report.whatHappened">
            </div>

            <div>
                <label for="date">Date of Sighting:</label>
                <input type="date" ng-model="pc.report.date">
            </div>

            <div>
                <label for="where">Where did you see this?</label>
                <input type="text" ng-model="pc.report.where">
            </div>

            <div>
                <input type="file" ng-model="pc.report.img" placeholder="img">
            </div>

            <div>
                <input type="submit" value="Submit">
            </div>

        </form>

    </div>

</body>