<div ng-controller="ReportController as pc" layout="column" ng-cloak class="md-inline-form">
    <div class="ng-scope layout-row" layout="row" class="logout" layout-align="end start" ng-controller="NavController as nav"
        ng-controller="LandingController as dc">
        <div ng-show="nav.displayLogout">
            <md-button class="md-accent" href="#" name="md-signout" ng-click="nav.logout()">
                <md-icon md-svg-src="assets/pics/ic_face_48px.svg"></md-icon> Hi, {{nav.username}}! | Sign Out
            </md-button>
        </div>
    </div>
    <h1 class="lead">Report a Sighting </h1>
    <md-content layout-gt-sm="row" layout-padding>
    </md-content>

    <md-content layout-padding>
        <div>
            <form name="userForm">

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="pc.description" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                </md-input-container>

                <div layout-gt-xs="row">
                    <md-input-container>
                        <label>Enter Date</label>
                        <md-datepicker ng-model="pc.date" rows="1"></md-datepicker type="date" name="date">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container flex-gt-sm>
                        <label>Time (Best educated guess):</label>
                        <input type="time-local" ng-model="pc.time" name="time" value="" rows="1">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Zip Code Closest To Where You Are:</label>
                        <input ng-model="pc.location">
                    </md-input-container>
                </div>

                <div>
                    <md-button href="/#!/sightings" ng-click="pc.addReport()" type="submit" name="submitButton">Add Sighting</md-button>

                </div>
            </form>
        </div>
    </md-content>

</div>