<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:500');
</style>

<div class="ng-scope layout-row" layout="row" class="logout" layout-align="end start" ng-controller="NavController as nav"
    ng-controller="LandingController as dc">
    <div ng-show="nav.displayLogout">
        <md-button class="md-accent" href="#" name="md-signout" ng-click="nav.logout()">
            <md-icon md-svg-src="assets/pics/ic_face_48px.svg"></md-icon> Hi, {{nav.username}}! | Sign Out
        </md-button>
    </div>
</div>
<div>
    <h1 class="sightingsViewTitle"> <mark><Strong>Sightings</Strong> </mark> </h1>
</div>
<div class='md-padding' layout="row" layout-align="center" layout-wrap>
    <md-card style="width: 333px;" ng-repeat="reportData in sc.sightInfo | orderBy : 'date' : 'reverse'">
        <img src="/assets/pics/ice-raid.png" class="md-card-image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Description</span>
            </md-card-title-text>
        </md-card-title>
            <md-card-content layout-wrap>
                <p>
                    <md-icon class="md-accent" md-svg-src="assets/pics/ic_message_48px.svg"></md-icon> 
                    {{reportData.description}}
                </p>
                <p>
                    <md-icon class="md-accent" md-svg-src="assets/pics/ic_date_range_48px.svg"></md-icon> 
                  {{reportData.date | date}}
                </p>

                <p>
                    <md-icon class="md-accent" md-svg-src="assets/pics/ic_access_time_48px.svg"></md-icon> 
                    {{reportData.time | date: 'h:mm a'}}
                </p>

                <p>
                    <md-icon class="md-accent" md-svg-src="assets/pics/noun_63811_cc.svg"></md-icon> 
                    {{reportData.location}}
                </p>

                <p>{{reportData.image}}</p>
                <p>Verified: {{reportData.confirmed}}</p>

            </md-card-content>
            <div  class="md-actions" layout="row" layout-align="center center">
                <md-button class="md-accent" flex= "33-99">Map</md-button>
            </div>
    </md-card>
</div>


<!-- <mat-card-actions>
            <md-button mat-button>LIKE</md-button>
            <md-button mat-button>SHARE</md-button>
        </mat-card-actions> -->