<div ng-cloak>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>ICE Sightings in the Area</span>
        </h2>
        <div  ng-controller="NavController as nav" ng-show="nav.displayLogout">Hi {{nav.username}}! |
            <a href="#" ng-click="nav.logout()">Logout</a>
        
        </div>
    </md-toolbar>

    <md-content ng-controller="SightingsController as sc">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="reportData in sc.sightInfo">
                <div class="md-list-item-text">
                    <h5>{{reportData.description}}</h5>

                    <p>{{reportData.date}}</p>

                    <p>{{reportData.time}}</p>   

                    <p>{{reportData.location}}</p>

                    <p>{{reportData.image}}</p>
                </div>
                <!-- <md-button class="md-secondary" href="{{info.html_url}}">Go</md-button> -->
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>






</div>