<div class="ng-scope layout-row" layout="row" class="logout" layout-align="end start" ng-controller="NavController as nav"
  ng-controller="LandingController as dc">
  <div ng-show="nav.displayLogout">
    <md-button class="md-accent" href="#" name="md-signout" ng-click="nav.logout()">
      <md-icon md-svg-src="assets/pics/ic_face_48px.svg"></md-icon> Hi {{nav.username}}! | Sign Out
    </md-button>
  </div>
</div>
<h2>Update Sightings</h2>
<div ng-controller="SightingController as sc" class="md-accent" md-whiteframe="3" ng-cloak ng-repeat="reportData in sc.sightInfo" layout-wrap>
  <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="/assets/pics/ice-raid.png" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Sighting Description</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-accent">
          <h5 class="md-accent">
            <md-icon md-svg-src="assets/pics/ic_message_48px.svg"></md-icon> {{reportData.description}}</h5>

          <p class="md-accent">
            <md-icon md-svg-src="assets/pics/ic_date_range_48px.svg"></md-icon> Date: {{reportData.date}}</p>

          <p>
            <md-icon md-svg-src="assets/pics/ic_access_time_48px.svg"></md-icon> Time: {{reportData.time}}</p>

          <p>
            <md-icon md-svg-src="assets/pics/noun_63811_cc.svg"></md-icon> Zipcode: {{reportData.location}}</p>

          <p>{{reportData.image}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-input-container class="md-block">
            <md-switch class="md-primary" name="special" ng-model="project.special" required>
              Verified
            </md-switch>
        </md-card-actions>
      </md-card>
    </div>
</div>

